<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./lib/css/index.css') }}">

    <script src={{ url_for( 'static', filename='./lib/js/jquery-3.1.0.js' )}} language="javascript" type="text/javascript"></script>

    <script language="javascript" type="text/javascript" src={{ url_for( 'static', filename='./lib/js/index.js' )}}></script>
    </head>

<body data-url="{{ url_for('index', _external=True) }}">
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $GraphPageLocation = "{{ url_for('graphs') }}"
    </script>
    <div  id="FolderList"> </div>
    <div class="container">
        <div class="progressbar">
        </div>
    </div>
    <div id="LoadingStatus"> Loading</div>
    <button id="button"> Next </button>
</body>
