<html>
    <head>
        <script src={{ url_for('static', filename='./lib/js/jquery-3.1.0.js')}} language="javascript" type="text/javascript" ></script>
        <script language="javascript" type="text/javascript" src={{ url_for('static', filename='./lib/js/d3.js')}}></script>
        <script language="javascript" type="text/javascript" src={{ url_for('static', filename='./lib/js/sara.js')}}></script>   
    </head>
    <body>
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <h1>jQuery Example</h1>
        <p><input type=text size=5 name=a> +
            <input type=text size=5 name=b> =
            <span id=result>?</span>
        <p><a href=# id=calculate>calculate server side</a>
    </body>
</html>